
@font-face {
    font-family: 'Lato';
    src: url(./fuentes/Lato/Lato-Regular.ttf);
}


body {
    font-family: Lato;
    margin: 0 auto;
}

#adri {
    background-image: linear-gradient(#D50A0A, #013369);
    position:sticky;
    z-index: 1000;

    left: 0;
    top: 0;


    width: 100%;
}

main{
    height: 50rem;
}
#adri>div {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#adri>div>figure img {
    height: 3.7rem;
}

#adri a {
    
    color: white;
    text-decoration: none;
}

#adri a:hover {
    text-decoration: underline;
}


/*AQUI EMPIEZA LO QUE HA HECHO BETO*/   
#beto {
  width: 100%;
  height: 10em;
  background-color: #013369;
  animation: slide-left 2s linear both;
  display: flex;
  align-items: center;
}

@keyframes slide-left {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(-70%);
  }
}
#beto:hover {
  opacity: 1;
  animation: slide-right 2s linear both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0%);
  }
}
#beto div{
    margin-left: 2em;
}
#beto>div span{
    color: #D50A0A ;
}
#beto>div h3{
    text-decoration: underline;
    font-size: 20pt;
}
.logosHeader{
    width: 5em;
}
figure{
    margin: 0;
}
#resultados div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3em;
}
#resultados div p{
    margin-left: 1.3em;
}
/*HASTA AQUI LOS CAMBIOS DE BETO  EN EL HEADER*/    
/*Footer adri*/
footer section:first-child{
    background-color: #1F1F1F; 
    height: 26rem;
}
footer>section div:nth-child(2) figure img{
    width: 4rem;
}

#logos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px tomato solid;
    height: 20rem;

}
#afc{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
}

