
@font-face {
    font-family: 'Lato';
    src: url(./fuentes/Lato/Lato-Regular.ttf);
}

body {
    font-family: Lato;
    margin: 0 auto;
    width: 90%;
    box-shadow: 5px 5px 15px #00000035;
    background-color: #eeeeee;
    color: white;
}

#adri {
    background-image: linear-gradient(#D50A0A, #013369);
    position:sticky;
    left: 0;
    top: 0;
    width: 100%;
}

#adri>div {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#adri>div>figure img {
    height: 3.7rem;
}

#adri a {
    
    color: white;
    text-decoration: none;
}

#adri a:hover {
    text-decoration: underline;
}


/*AQUI EMPIEZA LO QUE HA HECHO BETO*/   
#beto {
  width: 100%;
  height: 10em;
  background-color: #013369;
  animation: slide-left 2s linear both;
  display: flex;
  align-items: center;
}

@keyframes slide-left {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(-70%);
  }
}
#beto:hover {
  opacity: 1;
  animation: slide-right 2s linear both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0%);
  }
}
#beto div{
    margin-left: 2em;
}
#beto>div span{
    color: #D50A0A ;
}
#beto>div h3{
    text-decoration: underline;
    font-size: 20pt;
}
.logosHeader{
    width: 5em;
}
figure{
    margin: 0;
}
#resultados div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3em;
}
#resultados div p{
    margin-left: 1.3em;
}
/*HASTA AQUI LOS CAMBIOS DE BETO  EN EL HEADER*/    
/*Footer adri*/
footer{
    position: abolute;
}
footer section:first-child{
    background-color: #1F1F1F; 
    height: 20rem;
}
footer>section div:nth-child(2) figure img{
    width: 3.7rem;
}

#logos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 19rem;

}
#ligas{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
}
#betoFoot{
    width: 100%;
    height: 13em;  
    border: #013369 1px solid;
    background-color: #013369;
    text-align: center;
}
#betoFoot p> span{
    margin-top: 1em;
    color: #D50A0A;
    font-style: italic;
}
#betoFoot figure img{
    width: 8em;
}
/*AQUÃ COMIENZAN LOS ESTILOS DEL MAIN*/

main>header{
    text-align: center;
    text-transform: uppercase;
    color: #013369 ;
}

main>article figure img{
    width: 100%;
    height: 50rem;
}
main article~article{
    display: flex;
    justify-content: space-between;
}
main article~article section{
    width: 27%;
    border: 1px solid tomato;
    padding: 1rem;
    background-color: #D50A0A;
}
main article~article section:first-child{
    padding: 2rem;
    text-align: center;
}
#textoMahomes{
    text-align: left;
}
#fotoMahomes{
    width: 10rem;
    height: 7rem;
    float: right;
    padding: 1rem;
}

main article~article section~section iframe{
    width: 100%;
    height: 20rem;
}

