
main>header{
    text-align: center;
    text-transform: uppercase;
    color: #013369 ;
}
article>div{
display: flex;
justify-content: space-between;
padding: 1rem;

}
#estadio>figure img{
    width: 40%;
    height: 26rem;
    float: left;
    margin-right: 2rem;
}
article{
    box-shadow: black 0px 0px 1em;
}

h3{
    color: #D50A0A;
}
h3~ul li{
    margin-bottom: 1rem;
}
span{
    text-decoration: underline;
    font-weight: bold;
}
#sec2{
    width: 95%;
    margin: auto;
}
#sec2 ul{
    margin-left: 2rem;
}
#lista2 li{
    margin-bottom: 1rem;
}
#li1{
    list-style-type: "🏉";
}



