
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
}

fieldset legend{
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
}
div input{
display: block;
text-align: right;
}

