.imagenesProductos{
    width:30rem;
}

#tienda{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
#tienda section{
    text-align: center;
    padding: 3em;
}
#tienda section:first-child{
    padding: 0;
    background-color: white;
}
#tienda section:first-child img{
    width: 28rem;
}
#tienda section~section{
    background-color: #013369;
    padding-top:3rem ;
    width: 60%;
}
#tienda section~section p{
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 10pt;
    color: #D50A0A;
    
}
#tienda section~section h2{
    margin-bottom: 1em;
}
#tienda section~section h1{
    font-size: 17pt;
    text-transform: uppercase;
}
#tienda section button{
    width: 99%;
    background-color: #D50A0A;
    padding: 1.5rem;
    border-radius: 2em;
    border: 1px solid black;
    text-transform: uppercase;
    color: white;
}

/*AQUI COMIENZAN LOS AJUSTES DEL OTRO ARTICLE*/
#tienda2{
    width: 80%;
    margin:  auto;
    display: flex;
    justify-content: space-between;

}
#tienda2 div{
    text-align: center;
    width: 47%;
    
}
/*#tienda2 div section~section{
    height: 22rem;
}*/
#tienda2 div p{
    font-size: 10pt;
    padding-bottom: 1rem;
    color: #D50A0A;
    height: 3rem;
}
#tienda2 div section~section{
    background-color: #013369;
}
#tienda2 div:first-child section~section h1{
    margin-bottom: 3rem;
}
#tienda2 div:first-child section~section h2{
    margin-top: 1.92rem;
}

#tienda2 div h1{
    text-transform: uppercase;
    font-size: 20pt;
}
#tienda2 div button{
    width: 99%;
    padding: 1.5rem;
    background-color: #D50A0A;
    text-transform: uppercase;
    border-radius: 2rem;
    border: 1px solid black;
    margin-top: 1rem;
    color: white ;
}
#tienda2 section{
    padding: 3em;
}

#tienda2 section:first-child{
    padding: 0;
    background-color: white;
}


.botonProductos:hover{
    background-color: gray !important;
    cursor: pointer;
}